* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #19211d;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 12px;
    border-bottom: 1px solid rgba(132, 140, 131, 0.138);
    margin-bottom: 2px;
    background-color: #19211d;
}

.logo {  
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 25px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo h2 {
    font-family: "Karla", sans-serif;
    color: gainsboro;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo p {
    font-family: "Fragment Mono", sans-serif;
    color: rgb(132, 140, 131);
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 25px;
}

.nav-links li a {
    position: relative;

    font-family: "Karla", sans-serif;
    color: rgb(132, 140, 131);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #FE8A42;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    flex: 1;
    margin: 50px 225px;
}

.info {
    display:flex;
    flex-direction: column;
}

.info h1 {
    font-family: "Big Shoulders", sans-serif;
    color: gainsboro;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info p {
    font-family: "Karla", sans-serif;
    color: rgb(132, 140, 131);
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
}

.info-buttons {
    display: flex;
}

.info a {
    display: inline-block;

    font-family: "Karla", sans-serif;
    color: gainsboro;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    width: fit-content;
    border: 1px solid rgba(132, 140, 131, 0.138);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.info a:hover {
    color: black;
    background-color: #FE8A42;
}

.photo {
    position: relative;

    width: 400px;
    height: 290px;
    background-image: linear-gradient(to top left, #489F7C, #80AF7D) ;
    border-radius: 15px;
}

.photo-text {
    position: absolute;
    top: 5px;
    right: 5px;
}

.photo-text p {
    display: inline-block;

    font-family: "Fragment Mono", sans-serif;
    font-size: 10px;
    width: fit-content;
    background-color: black;
    color: #5BB78B;
    text-transform: uppercase;

    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}

.photo-svg {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

    width: auto;
    gap: 60px;
    margin: 30px;
}

.service, .däck, .uthyrning {
    display: flex;
    flex-direction: column;

    background-color: #1F281F;
    border: 1px solid rgba(132, 140, 131, 0.138);
    border-radius: 15px;
    
    padding: 30px;
    gap: 7px;
    width: 240px;
    min-height: 100px;
}

.service h2, .däck h2, .uthyrning h2 {
    font-family: "Fragment Mono", sans-serif;
    color:#FE8A42;
    font-size: 8px;
}

.service h3, .däck h3, .uthyrning h3 {
    font-family: "Big Shoulders", sans-serif;
    color:gainsboro;
    font-size: 14px;
}

.service p, .däck p, .uthyrning p {
    font-family: "Karla", sans-serif;
    color: rgb(132, 140, 131);
    font-size: 14px;
}

.service a, .däck a, .uthyrning a {
    font-family: "Big Shoulders", sans-serif;
    color: gainsboro;
    font-size: 14px;
    text-decoration: none;
    font-weight: bolder;
    margin-top: auto;
}

.service a:hover, .däck a:hover, .uthyrning a:hover {
    color:#FE8A42;
}

.container-type2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #1F281F;
    border: 1px solid rgba(132, 140, 131, 0.138);
    border-radius: 15px;

    padding: 20px;
    margin: 20px auto 60px;
    width: calc(100% - 40px);
    max-width: 1025px;
    box-sizing: border-box;
}

.container-type2 h2 {
    font-family: "Fragment Mono", sans-serif;
    color: rgba(132, 140, 131, 0.693);
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.container-type2 p {
    font-family: "Big Shoulders", sans-serif;
    color: gainsboro;
    font-size: 16px;
    font-weight: bold;
}

.container-type2 a {
    font-family: "Big Shoulders", sans-serif;
    color: gainsboro;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;

    border: 1px solid rgba(132, 140, 131, 0.138);
    border-radius: 10px;
    padding: 10px 20px;
}

.container-type2 a:hover {
    background-color:#FE8A42;
    color: black;
}

footer {
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1F281F;
    border-top: 1px solid rgba(132, 140, 131, 0.138);
    padding: 20px;
}

.footer p {
    font-family: "Fragment Mono", sans-serif;
    color: rgb(132, 140, 131);
    font-size: 11px;
    background-color: #1F281F;
    margin: 0px 25px;
}